Package: jp.novi.FakeClockUp
Name: FakeClockUp
Version: 0.7.1
Section: Tweaks
Depends: mobilesubstrate, preferenceloader, applist, firmware (>= 4.3)
Architecture: iphoneos-arm
Description: FakeClockUp accelerates UIKit transition animation.
author: novi & r_plus
Icon: file:///Library/PreferenceBundles/FakeClockUpSettings.bundle/FakeClockUp@2x.png
Tag: purpose::extension 
